html {
  margin: 0;
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: beige;
}

a {
  text-decoration: none;
  color: beige;
}

@media (max-width: 768px) {
  p {
    font-size: 0.7rem;
  }
}

.navLink:hover {
  font-weight: bold;
  transition: all 0.3s;
}
